/*************************
    FAQs COMPONENT
*************************/

#FAQ {
    padding: 5.6rem 2rem 9.6rem;
    background-color: $light-gray;
}

.FAQ {
    
    &-title {
        margin: 4rem 0;

        font-size:  3rem;
        font-weight: lighter;
        text-align: center;
        color: $dark-green;
    }
}
