.button-primary {
    display: block;

    padding: 16px 15px;

    background-color: $primary;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.15);
    
    font-size: 1.6rem;
    font-weight: 700;
    color: $white;

    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $dark-green;
    }
}